/*****************************************
                  header 
 *****************************************/
/* for mobile */
/* --------------Nav bar----------------- */
@media(max-width: 768px)
{
    .navbar {padding: 0px;}
    .cart{display: none;}
    .search-btn{display: none;}
    .item-details a{padding-left:35px;}
    .slide img{height:200px;}
}

/* for tablet  */

/*****************************************
                  main 
 *****************************************/
 /* for mobile */
/* تحسين التنسيق للموبايل */
@media (max-width: 576px) {
    .thank-you-card {
        margin: 1rem;
        padding: 1rem;
    }

    .thank-you-card .btn {
        width: 100%;
        font-size: 1rem;
    }

    .thank-you-card .card-header,
    .thank-you-card .card-body {
        font-size: 1.1rem;
    }
}
/* for tablet  */

/*****************************************
                  footer 
 *****************************************/
 /* for mobile */

/* for tablet  */
