/* this is the defaulte theme */
/* nav bar  */
.dz-nav-icon{color: #000;}
.dz-badge-color{background: #a40c72 !important;}
/* sid bar  */
.app-sidebar,.offcanvas-header,.offcanvas-body,.item 
{background: #a40c72;}
.user-name,.item a{color:#fff;}
.item a:hover
{background: #c31689;border:2px solid #a40c72;}
.sub-item{background: #be068180;}
.item.active{background: #be0681;border-left:5px solid #790853;}
/* main  */
.app-wraper{background: #e1cfdb;}
/*footer*/
.footer
{background: #fff;}
.footer a {color:#000;text-decoration: none;}